*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgba(127, 127, 127,0.2054924553130243);
}

#div-header{
    display:flex;
    justify-content: center;
    /* border: 7px dotted blue; */
    padding: 18px;
    margin: 18px 18px;
    gap: 18px;
    align-items: center;
}

header h2{
    color: rgba(127, 127, 127,0.5);
}

.a-social{
    color: rgba(127, 127, 127,0.2054924553130243);
    font-size: 36px;
}

.a-social:hover{
    transform: scale(1.5);
}

#div-images{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.images{
    border-radius: 18px;
    width: 720px;
    margin-bottom: 18px;
    border: 7px solid rgba(127, 127, 127,0.2054924553130243);
    transition: 1.875s;
    
}

#p-footer{
    text-align: center;
    margin: 18px;
    color: rgba(127, 127, 127,0.5);
}

.images:hover{
    box-shadow: 7px 7px 7px 7px rgba(127, 127, 127,0.125);
    width: 50vw;
    /* transition: ; */
}

@media screen and (max-width: 626px) {

    .images{
        max-width: 626px;
    }
}
    
}

@media screen and (max-width: 360px) {

    .images{
        max-width: 360px;
    }
    
}