*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#div-header{
    display:flex;
    justify-content: center;
    /* border: 7px dotted blue; */
    padding: 18px;
    margin: 18px 18px;
}

#div-images{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.images{
    border-radius: 18px;
    width: 720px;
    margin-bottom: 18px;
}

#p-footer{
    text-align: center;
    margin: 18px;
}

@media screen and (max-width: 626px) {

    .images{
        max-width: 626px;
    }
    
}